<h1 class="livingstyleguide--page-title">Living Style Guide</h1>

<%= partial 'css/base/colors.md' %>
<%= partial 'css/base/typography.md' %>
<%= partial 'css/modules/layout.md' %>
<%= partial 'css/base/grid.md' %>
<%= partial 'css/modules/button.md' %>
<%= partial 'css/modules/form.md' %>

