<h1 class="livingstyleguide--page-title">Living Style Guide</h1>

<%= partial 'css/base/colors' %>
<%= partial 'css/base/typography' %>
<%= partial 'css/modules/layout' %>
<%= partial 'css/base/grid' %>
<%= partial 'css/modules/button' %>
<%= partial 'css/modules/form' %>

